<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Languages -->
  <package id="autohotkey.install" version="1.1.28.02" />
  <package id="python2" />
  <package id="python3" />
  <package id="golang" />
  <package id="nodejs-lts" />
  <!-- Editors -->
  <package id="vscode" />
  <package id="intellijidea-ultimate" />
  <package id="winmerge-jp" />
  <package id="lightshot.install" />
  <!-- Tools -->
  <package id="git"/>
  <package id="vagrant" />
  <package id="virtualbox" />
  <package id="cmder" />
  <!-- Dependencies?? -->
  <package id="neovim" />
  <!-- Manually -->
  <!-- tablacus explorer -->
</packages>
