snippet _select "SELECT"
  SELECT * FROM ${0:table}

snippet _delete "DELETE"
  DELETE from ${1:table} WHERE ${0}

snippet _update "UPDATE"
  UPDATE ${1:table} SET ${2:column} = ${3:value} WHERE ${0}

snippet _insert "INSERT"
  INSERT INTO ${1:table}
  (${2:columns})
  VALUES
  (${0:record})

snippet _count "COUNT"
  SELECT COUNT(*) FROM ${0:table}

