<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="git"/>
  <package id="make"/>
  <package id="autohotkey.install" version="1.1.28.02" />
  <package id="python2" />
  <package id="python3" />
  <package id="anaconda3" packageparameters="/AddToPath:1" />
  <package id="nodejs-lts" />
  <package id="vscode" />
  <package id="intellijidea-ultimate" />
  <package id="winmerge-jp" />
  <package id="lightshot.install" />
  <package id="screentogif" />
  <package id="vagrant" />
  <package id="virtualbox" />
  <package id="golang" />
  <package id="neovim" />
  <package id="7zip" />
  <package id="cmder" />
  <!-- Manually -->
  <!-- tablacus explorer -->
  <!-- PhraseExpress portable -->
</packages>
