<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Tools -->
  <package id="git"/>
  <package id="vagrant" version="2.2.0"/>
  <package id="virtualbox" version="5.2.20"/>
  <package id="keypirinha" />
  <package id="cmder" />
  <package id="dbeaver" />
  <package id="clcl.portable" />
  <package id="keycastow" />
  <!-- Editors -->
  <package id="vscode" />
  <package id="intellijidea-ultimate" />
  <package id="lightshot.install" />
  <!-- Dependencies?? -->
  <package id="neovim" />
  <!-- Manually -->
  <!-- tablacus explorer -->
</packages>
