<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Tools -->
  <package id="git"/>
  <package id="vagrant" version="2.2.0"/>
  <package id="virtualbox" version="5.2.20"/>
  <package id="autohotkey.install" version="1.1.28.02" />
  <package id="keypirinha" />
  <package id="cmder" />
  <package id="dbeaver" />
  <package id="clcl.portable" />
  <package id="keycastow" />
  <package id="hugo" />
  <!-- Editors -->
  <package id="vscode" />
  <package id="intellijidea-ultimate" />
  <package id="lightshot.install" />
  <!-- Languages -->
  <package id="python2" />
  <package id="python3" />
  <package id="golang" />
  <!-- C Tools -->
  <package id="llvm" />
  <package id="cmake" />
  <!-- Dependencies?? -->
  <package id="neovim" />
  <package id="less" />
  <!-- Manually -->
  <!-- tablacus explorer -->
</packages>
