snippet ifep "if err != nil -> panic"
if err != nil {
  panic(err)
}

endsnippet

snippet fpv "fmt.Printf"
fmt.Printf("${0} = %#v", ${0})
endsnippet

snippet fps "fmt.Printf"
fmt.Printf("${0} = %s", ${0})
endsnippet
