snippet cl "console.logデバッグ"
console.log(\`${0}: \$\{${0}}\`)
endsnippet

snippet clt "console.logデバッグ 👺つき"
console.log(\`👺 ${0}: \$\{${0}}\`)
endsnippet

snippet fdoc "関数のdoc"
/**
 * ${1:description}
 *
 * @param x - description for x
 * @param y - description for y
 * @returns description for return value
 */
endsnippet

snippet fdocs "関数のdoc 簡易版"
/**
 * ${1:description}
 */
endsnippet

