snippet cl "console.logデバッグ"
console.log(\`${0}: \$\{${0}}\`)
endsnippet

snippet clt "console.logデバッグ 👺つき"
console.log(\`👺 ${0}: \$\{${0}}\`)
endsnippet

snippet _doc "関数のdoc 簡易版"
/**
 * ${1:description}
 */
endsnippet

snippet _docd "関数のdoc 詳細版"
/**
 * ${1:description}
 *
 * @param x - description for x
 * @param y - description for y
 * @returns description for return value
 */
endsnippet

snippet _buntestimport "Description" b
import { describe, test, expect } from "bun:test";
endsnippet

snippet _test "testコード" b
test("${1:test name}", () => {
  expect(${2:actual}).toBe(${3:expected});
});
endsnippet

